.candidats-listing{
    width: 98%;
}
.candidat{
    margin: 2% 1%;
    background: linear-gradient(to top, #1dade4 65%, rgba(255, 255, 255, 0) 35%);
}
.candidat h3{
    padding-top: 10px;
}
.candidat li{
    display: inline-block;
    padding: 5px;
}
.candidat-statistics a{
     color: black;
}