
.candidats-listing .candidat{
	margin-top: 40px;
}
footer.main-blue{
	margin-top: 40px;
}

/*rating range*/
  ul.candidat-statistics li{
    display: block;
  }
  .panel-heading, 
  .possibilities-section, 
  .rating-section{
      max-width: 295px;
      margin: auto;
  }
 #line{
       height: 5px;
       width: 200px;
       background-color: #1dade4;
       
       position: relative;
       margin: auto;
    margin-top: 30px;
       
    }
    #line:before{
        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(-100%, -50%);
        height: 20px;
        width: 2px;
        background-color: #1dade4; 
    }
    #line:after{
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(100%, -50%);
        height: 20px;
        z-index: -1;
        width: 2px;
        background-color: #1dade4; 
    }
    #button1{
        position: absolute;
        left: -3px;
        top: 50%;
        margin-top: -10px;
        width: 10px;
        cursor: pointer;
        height: 20px;
        background: #ea2140;

    }
    #button2{
           position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -10px;
        width: 10px;
        cursor: pointer;
        height: 20px;
       
        background: #ea2140;
        margin-left: -15px;
    }
    #buutonaut{
   background:#b6c9d3;
   position: absolute;
   left: 0;
   width: 0%;

   height: 5px;
    }
    #buutonaut2{
   background: #b6c9d3;
   position: absolute;
   right: 0;

   width: 0%;
   height: 5px;
  
    }
    #price2{
   display: inline-block;
    }
    #price{
        display: inline-block;
        margin-left: 70px;
    }


/*=========*/
.row .filter{
	min-width: 235px;
}



/*responsive*/
@media only screen and (max-width: 1200px){
  .profile{
  height: auto;
}
}
@media only screen and (max-width: 989px){
  .candidat-skils-fn {
    min-height: 81px !important;
}

}
@media only screen and (max-width: 551px){
  .candidat-skils-fn {
    min-height: 54px !important;
}


}
@media only screen and (max-width: 700px){
  .info {
   
    min-width: 270	px;

}
	.sia{
	margin-top: 90px;
}


.img-background{
	margin: auto;
}
.info {
    transform: translate(11px,72%);

    }
   .row .filter{
	min-width: 100%;
}
/*#line{
	  margin-top: 0px;
	  margin: auto;
}*/
.filter{
border-right: 3px solid rgba(15, 76, 109, 0.3);

	}
}





















@media only screen and (max-width: 600px){

	#partners  img{
height: 34px;
}
.page-link {
  
    padding: .3rem .45rem;
}

}