
.candidats-listing .candidat{
	margin-top: 40px;
}
.main-blue{
	margin-top: 40px;
}






















/*responsive*/

@media only screen and (max-width: 500px){

	#partners  img{
height: 34px;
}
}