/*--- Components ---*/
/*Header*/
header{
  height: 8.7%;
  min-height: 50px;
  width: 100%;
  position: absolute;
}
#logo{
  width: 24.5%;
  height: 62%;
  margin-top: auto;
  position: absolute;
  left: 4.357%; top: 19%;
  background-image: url('../../img/logo.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#header-nav{
  display: absolute;
  position: absolute;
  right: 4.357%; top: 19%;
}
#header-nav img{
  height: 4.4vh;
  min-height: 25px;
  width: 3vh;
  min-width: 30px;
  float: right;
}
#header-nav button, #header-nav img{
  margin-left: 1vw;
}
/*Hero Section*/
#hero-section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg');
  background-repeat: no-repeat;
  height: 42vh;
  background-position: center;
  background-size: 100% auto;
}
#hero-section img{
  height: 10px;
  padding-left: 5px;
}


/*--- Footer ---*/
footer{
  padding-top: 20px;
}
footer p{
 margin: 0;
 padding: 10px;
 text-align: center;
}
#partners{
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer img{
  height: 50px;
  cursor: pointer;
  margin: 10px;
}
#footer-line{
 height: 2px;
 background-color: white;
 display: block;
}


